.main {
  position: relative;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(3, minmax(50px, max-content));
  grid-gap: 5%;
  grid-template-areas:
    'controls controls'
    'today    geo'
    'forecast geo';
  align-items: center;
  box-shadow: inset 0 0 0 100vh rgba(0, 0, 0, 0.4);
  background-image: url('../../assets/images/weather.png');
  background-size: cover;

  &__controls {
    grid-area: controls;
  }

  &__today {
    grid-area: today;
  }

  &__forecast {
    grid-area: forecast;
  }

  &__geo {
    grid-area: geo;
  }
}
