.day {
  font-family: Montserrat;
  color: $color-text;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  // max-width: 160px; //fix width

  &__weekday {
    font-size: 22px;
    font-weight: bold;
    // background-color: red;
  }

  &__temperature {
    font-size: 80px;
    font-weight: 600;
    // background-color: green;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right -0.15em;
  }
}
