.search {
  display: inline-flex;

  &__input {
    font-size: 14px;
    padding: 13px 15px;
    border: 1px solid rgba(228, 227, 227, 0.2);
    border-right: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: $color-darken;
    color: $color-text;
    background-image: url(../../images/mic.svg);
    background-repeat: no-repeat;
    background-position: 90% center;

    &::placeholder {
      color: $color-text;
    }
  }

  &__button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    &:hover {
      //TODO разобраться с box-sizing
      border: 1px solid rgba(228, 227, 227, 0.2);
      border-left: none;
    }
  }
}
