.search {
  display: inline-flex;
  font-family: Montserrat;
  font-weight: bold;

  &__input {
    font-size: 14px;
    line-height: $line-height;
    padding: 13px 15px;
    border: 1px solid rgba(228, 227, 227, 0.2);
    border-right: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: $color-darken;
    color: $color-text;

    &::placeholder {
      color: $color-text;
    }

    @media (max-width: 520px) {
      width: 100%;
    }
  }

  &__controls {
    position: relative;
  }

  &__controls-item {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 1em;
    width: 0.5em;
    border: none;
    background-color: transparent;

    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    &--mic {
      left: -2em;
      background-image: url('../../assets/images/mic.svg');
    }

    &--mic-on {
      left: -2em;
      background-image: url('../../assets/images/mic-on.svg');
    }
  }

  &__button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border: 1px solid transparent;

    &:hover {
      box-sizing: border-box;
      border: 1px solid rgba(228, 227, 227, 0.2);
      border-left-color: transparent;
    }
  }
}
