.today {
  color: $color-text;
  font-family: Montserrat;
  font-weight: bold;
  max-width: 597px; //fix width
  // background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  // align-items: baseline;

  &__city-title {
    flex: 1 1 100%;
    line-height: 54px;
    font-size: 44px;
    // background-color: red;
    text-transform: uppercase;
  }

  &__date-time {
    flex: 1 1 100%;
    line-height: 29px;
    font-size: 24px;
    // background-color: green;

    display: flex;

    & :last-child {
      margin-left: 18px;
    }
  }

  &__temperature {
    position: relative;
    flex: 0 1 auto;
    line-height: 1;
    font-size: 300px;
    // background-color: yellow;
    text-transform: uppercase;
    text-align: center;

    &::after {
      position: absolute;
      top: 15px;
      right: -225px;
      content: '';
      height: 140px;
      width: 240px;
      position: absolute;
      // background-color: lightcoral;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
    }

    &--cloudy::after {
      background-image: url('../../assets/images/cloudy.svg');
    }
  }

  &__grad {
    flex: 0 1 auto;
    font-size: 100px;
    // background-color: darkblue;
    padding: 0 1rem;
    margin-top: 35px;
    z-index: 5;
  }

  &__summary {
    z-index: 5;
    flex: 0 1 30%;
    line-height: 37px;
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    // background-color: blue;
    align-self: flex-end;
    margin-bottom: 35px;
  }

  & p {
    margin: 0;
  }
}
